<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ZMGBaza" connectionString="data source=31.147.204.119\PISERVER,1433;initial catalog=RPP22_04_DB;user id=RPP22_04_User;password=+7]kL4#_;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>